:root {
  --color-green-dark: #224F34;

  --time-animation: .3s;
  --function-animation: ease;
  --animation: var(--time-animation) var(--function-animation);
}

body {
  margin: 0;
}

p {
  margin: 0;
  line-height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}